/* General font styling */
body {
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: #333;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro";
}
h1:first-child, h2:first-child {
  margin-top: 0;
}
h1 {
  font-size: 44px;
}
code, tt {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}
th {
  font-weight: 600;
}
/* Override default red code from Bootstrap */
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}
/* No gray background for code in headers */
h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code {
  background-color: inherit;
}

pre {
  border: none;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  box-shadow: 5px 5px 0 #DDD;
  margin-bottom: 16px;
}


/* Utility classes */
.fullwidth {
  width: 100%;
}
.punchup {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.constrain-image-width img {
  max-width: 100%;
}

.img-thumbnail {
  border-radius: 0;
}

/* Global layout */
.header, header {
  background-image: url(/images/texturebg.png);
}
.header, .navbar, header a {
  background-color: #428bca;
  color: white;
  margin-bottom: 48px;
  height: 50px;
  border-radius: 0 !important;
  border: none;
}
@media (max-width: 991px) {
  .header {
    margin-bottom: 12px;
  }
}
.brand, .navbar-brand {
  font-size: 30px;
}
.brand {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 4px;
}
.brand #credits {
  font-weight: 200;
  font-size: 14px;
}
.brand a, a.navbar-brand {
  color: white;
  text-decoration: none;
}
.brand .search {
  margin-top: 8px;
}
#st-search-input {
  width: 150px;
  border-radius: 16px;
}
.content {
  max-width: 1000px;
}
.footer {
  margin-top: 64px;
}
.footer-inner {
  max-width: 970px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

@media print {
  .header {
    display: none;
  }
  .nav.nav-primary {
    display: none;
  }
}
/* Nav layout */
.nav.nav-primary {
  margin-top: 26px;
  font-size: 13px;
  color: #848484;
}
.nav.nav-primary li {
  position: relative;
  left: -6px;
  margin-bottom: 18px;
  border-radius: 1.5px;
}
.nav.nav-primary li a {
  padding: 1px 6px 1px 6px;
  text-decoration: none;
}
.nav.nav-primary li.active a {
  background-color: #428bca;
  color: #FFF;
}
@media (max-width: 991px) {
  .nav.nav-primary li {
    display: inline;
    padding-right: 16px;
    white-space: nowrap
  }
  .nav.nav-primary {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 12px;
  }
}

/* Shared styles */
.metadata {
  color: #848484;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
}
.metadata span {
  margin-right: 24px;
  white-space: nowrap;
}
@media print {
  .pagination {
    display: none;
  }
}
.pagination > li > a {
  border: none;
  padding: 3px 9px;
  margin: 0 1px;
  border-radius: 1.5px;
}
.pagination > li.active > a {
  color: white;
  background-color: #428bca;
  font-weight: 600;
}

/* Specific styles */
.article-action {
  margin-bottom: 12px;
}
.article-action a.btn {
  font-size: 12px;
}

.article-group {
  line-height: 1.25;
}
.article-group h3 {
  margin-bottom: 3px;
}
.article-group-desc {
  margin-bottom: 9px;
}
.article-list {
  padding-left: 1em;
  text-indent: -1em;
}
.article-list li {
  margin-bottom: 3px;
}

.tutorial-lesson-number {
  font-size: 20px;
}
.tutorial h1 {
  margin-top: 0;
}
.tutorial h2 {
  margin-top: 24px;
}
.tutorial h4 {
  margin-top: 16px;
  font-weight: 600;
}
.tutorial table {
  margin-bottom: 10px;
}

.answer-content {
  display: none;
}
@media print {
  .answer-content {
    display: block;
  }
  .answer-toggle {
    display: none;
  }
}

.gallery-app-item {
  margin-bottom: 16px;
}
.gallery-app-thumbnail-text {
  margin-top: 3px;
}
.shiny-app-frame {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
}
.shiny-app-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.swiftype-hidden-content {
  display: none;
}
.header.app .brand {
  display: inline-block;
  width: 300px;
  margin: 0 0 0 20px;
}
.header.app .dropdown {
  display: inline-block;
}


pre .operator,
pre .paren {
  color: rgb(104, 118, 135)
}

pre .literal {
  color: rgb(88, 72, 246)
}

pre .number {
  color: rgb(0, 0, 205);
}

pre .comment {
  color: rgb(76, 136, 107);
}

pre .keyword {
  color: rgb(0, 0, 255);
}

pre .identifier {
  color: rgb(0, 0, 0);
}

pre .string {
  color: rgb(3, 106, 7);
}

img.example-screenshot {
  border: 1px solid #CCC;
  max-width: 600px;
}
